{% extends "base.html" %}

{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">Actualizar Información</h2>
                    
                </div>
                <div class="ml-md-auto py-2 py-md-0">
                    
                    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-danger btn-round">Atras</a>
                </div>
                
            </div>
        </div>
    </div>

    <div class="row row-card-no-pd">

        <div class="col-md-12">
            <div class="card">
                {% include "cursos/curso_form.html" %}                                  
            </div>
        </div>
    </div>
</div>
        
{% endblock %}


